.screenM, .screenR
{
	border: 2px solid black;
	height: 25px;
	text-align: center;
	float: none;
    display: inline-block;

}

.screenM
{
	width: 400px;
}

.screenR
{
	width: 200px;
}

.cinema
{
	line-height: 200%; 
	padding-top: 40px;
	/* min-width: 560px; */
	overflow: hidden;

	border: 1px solid;
	border-top: 0px;
	margin-bottom: 20px;
}

.rivola {
	display: inline-block;
	padding-bottom: 10px;
}

.tiltLeft
{
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	position: relative;
}

.tiltRight
{
	-webkit-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	position: relative;
}

.left, .right
{
	width: 150px;
}

.centre
{
	width: 350 px;
	padding-left: 2%;
	padding-right: 2%;
	vertical-align: top;
}

.right, .left
{
	padding-left: 2%;
	padding-top: 0.5%;
}

.bottom {
	margin-left: -110px;
}

.left, .right, .centre, .bottom {
	display: inline-block;
}

.nseat
{
	width: 26px;
	height: 28px;
	float:left;
}

.nselected:hover,  .nempty:hover
{
	background-image: url(../images/nseatHover.png);
	cursor: pointer;
}

.nempty
{
	background-image: url(../images/nseatNormal.png);
}

.ntaken
{
	background-image: url(../images/nseatTaken.png);
}

.nselected
{
	background-image: url(../images/nseatSelected.png);
}



.bseat
{
	width: 52px;
	height: 44px;
	float:left;
}

.bselected:hover,  .bempty:hover
{
	background-image: url(../images/bseatHover.png);
	cursor: pointer;
}

.bempty
{
	background-image: url(../images/bseatNormal.png);
}

.btaken
{
	background-image: url(../images/bseatTaken.png);
}

.bselected
{
	background-image: url(../images/bseatSelected.png);
}


.fseat
{
	width: 41px;
	height: 42px;
	float:left;
}

.fselected:hover,  .fempty:hover
{
	background-image: url(../images/fseatHover.png);
	cursor: pointer;
}

.fempty
{
	background-image: url(../images/fseatNormal.png);
}

.ftaken
{
	background-image: url(../images/fseatTaken.png);
}

.fselected
{
	background-image: url(../images/fseatSelected.png);
}

.clear { clear:both; }