html, body {
	padding: 0;
	margin: 0;
	height: 100%;
    
	/* background: #ecf0f1; */
	font-family: Oswald, Helvetica, Arial, free-sans, clean, sans-serif;
}

body {
	min-height: 100%;
	position: relative;
}

header {
	width: 100%;
}

.container, .navigation {
	position: relative;
	min-height: 100%;
    margin: 0 auto;
}

nav {
	margin: 0 auto 0px;
	text-align: center;
	background: #3498db;
	color: #FFFFFF;
	font-family: Oswald, Helvetica, Arial, free-sans, clean, sans-serif;
	font-weight: 700;
	font-size: 11pt;
	min-width: 600px;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	display: inline-block;
	padding: 10px;
	margin: 0px;
}

nav li:hover {
	background: #2c3e50;
}

#titleBar {
	min-width: 600px;
	text-align: center;
	padding: 20px;
	background: #2980b9;
	font-family: Oswald, Helvetica, Arial, free-sans, clean, sans-serif;
	font-weight: 700;
	font-size: 25pt;
}

#titleBar > a:link, #titleBar > a:visited {
	color: #FFFFFF;
}

#titleBar > a:hover, #titleBar > a:active {
	color: #34495e;
}

a:link > li, a:visited > li {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover > li, a:active > li {
	color: #FFFFFF;
}

a:link, a:visited {
	color: #c0392b;
	text-decoration: underline;
}

a:hover, a:active {
	color: #34495e;
}

a {
	text-decoration: none;
}

#message {
	min-height: 100px;
	min-width: 300px;
}

.section {
	padding-bottom: 50px;
}

.subhead {
	font-family: Helvetica, Arial, free-sans, clean, sans-serif;
	padding-top: 20px;
	font-weight: 700;
}

.wrapper {
	padding-left: 20%;
	padding-right: 20%;
	min-width: 300px;
	/* background: #ecf0f1; */
	text-align: center;
}

p {
	font-family: Helvetica, Arial, free-sans, clean, sans-serif;
	font-size: 10pt;
	font-weight: 400;
	text-align: center;
}

footer > p {
	color: white;
	font-family: Oswald, Arial, free-sans, clean, sans-serif;
	font-size: 10pt;
	padding: 0;
	margin: 0;
	line-height: 40px;
	text-align: right;
    vertical-align:middle;
	padding-right: 10px;
}

h1 {
	font-family: Oswald, Helvetica, Arial, free-sans, clean, sans-serif;
	font-weight: 700;
	font-size: 40pt;
	margin: 0;
	padding: 0;
}

h3 {
	font-family: Oswald, Helvetica, Arial, free-sans, clean, sans-serif;
	font-weight: 700;
	font-size: 30pt;
	margin: 0;
	padding: 20px;
	text-align: center;
	background: #ecf0f1;
	width: 166%;
	margin-left: -33%;
	padding-right: 0px;
	padding-left: 0px;
}

.caption {
	font-family: Oswald, Helvetica, Arial, free-sans, clean, sans-serif;
	font-weight: 400;
	font-size: 20pt;
	margin: 0;
	padding: 0;
	text-align: center;
}

.subtitle {
	color: #2c3e50;
	font-family: Oswald, Helvetica, Arial, free-sans, clean, sans-serif;
	font-weight: 400;
	font-size: 15pt;
	margin: 0;
	padding: 0;
	text-align: center;
}

.big_submit {
    /* font-size: 18px; */
    width: 20%;
    min-width: 100px;
}

#ticket-holder{
	height: 300px;
	overflow-y: scroll;
	border: 1px gray dotted;
}

#ticket-table {
	margin: 0 auto;
    width: 100%;
}

.error {
    color: #FF0000;
}

/* Column Layout inspired by Github, https://github.com/contact */
.right_column {
	padding-left: 2%;
	width: 44%;
	float: right;
	min-width: 100px;
}

.left_column {
	float: left;
	width: 80%;
	min-width: 300px;
}

.columns {
	position: relative;
	min-height: 400px;
	min-width: 500px;
	overflow: hidden;
}

h4 {
	font-family: Helvetica, Arial, free-sans, clean, sans-serif;
	font-weight: 700;
	font-size: 14pt;
	margin: 0;
	padding: 0;
	padding-top: 5px;
}

hr {
	opacity: 0.5;
}

@keyframes zoomIn {
	0% {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

.zoomIn {
  animation-name: zoomIn;
  animation-duration: 1s;
}

br {
	padding: 0;
	margin: 0;
}

footer {
	background: #171D25;
	height: 40px;
	bottom: 0;
	left: 0;
	width: 100%;
	position: absolute;
	min-width: 900px;
}

main {
	padding-bottom: 30px;
}

.referrer {
	border: 0;
	height: 100%;
	vertical-align: middle;
	overflow: auto;
}

.featureset {
	padding-bottom: 50px;
}

.joined {
	background: #FFFFFF;
}

.last {
	margin-bottom: 20px;
	background: #FFFFFF;
}

.bottom {
	margin-bottom: 20px;
}

.subsection {
	margin: 0px auto;
	text-align: center;
}

.gap {
	padding-top: 20px;
}

.small {
	font-size: 14px;
}

.extend {
	width: 166%;
	margin-left: -33%;
	background: #FFFFFF;
}

.fadeIn {
	transition: color 0.2s ease-in-out;
}

table {
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	background: white;
}

th {
	font-family: Oswald, Helvetica, Arial, free-sans, clean, sans-serif;
	font-weight: 700;
}

th, td {
	border: 1px solid gray;
}

th, tr, td {
	padding: 5px;
}

.disclaimer {
	font-family: Oswald, Helvetica, Arial, free-sans, clean, sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #272F32;
}

.movie {
	min-height: 10%;
	min-width: 10%;
	max-height: 40%;
	max-width: 40%;
	margin: 0 auto;
	float: left;
	padding: 5%;
}

.fullwidth {
	display: inline-block;
	max-width: 400px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 10%;
	overflow: hidden;
	vertical-align: top;
}

.MS-rating img {
	float: left;
	margin: 0px;
	padding: 0px;
	padding-right: 10px;
}

.MS-rating {
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding-top: 15px;
	padding-bottom: 15px;
	overflow: hidden;
}

.MS-title {
	font-size: 30px;
	padding-top: 10px;
}

.MS-film {
	background: white;
	padding: 20px;
	border: 1px solid black;
	box-shadow: 10px 10px 30px #888888;
}

.MS-description p {
	padding: 2px;	
}

.movieDesc {
	text-align: left;
	font-size: 1em;
}

.hero {
	color: #c0392b;
}

.enlarge {
	font-size: 40px;
}

#cart {
	position: absolute;
	right: 0;
	background: #2c3e50;
}

.film, .day {
	min-width: 200px;
}

.ticket {
	font-family: monospace;
	border: 1px solid;
	width: 310px;
	height: 130px;
	padding: 20px;
	margin: 10px auto;
	overflow: visible;
}

.majorTicket {
	width: 310px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid;
}

.name, .email, .phone, .price, .date, .ticketCount, .subtotal, .total, .logo, .logoCaption, .promo, .mono {
	font-family: monospace;
	margin: 0 auto;
	padding: 0;
	text-align: right;
}

.subtotal, .phone {
	padding-bottom: 10px;
}

.logo, .logoCaption {
	float: left;

}

.logoCaption {
	padding-left: 20px;
}

.indented {
	padding-left: 40px;
}

.mono {
	text-align: center;
}

.logo {
	color: #2980B9;
}

.total, .subtotal {
	color: #FF3D2E;
}

.mono, .name, .email, .phone, .logoCaption {
	color: #2c3e50;
}

.ticket:last-of-type {
	margin-bottom: 50px;
}

#movieDescription {
	margin-bottom: 40px;
}