html, body {
	padding: 0;
	margin: 0;
	background: #EFF3F6;
	height: 100%
}

body {
	min-height: 100%;
	position: relative;
}

header {
	width: 100%;
}

.container {
	position: relative;
	min-height: 100%;
}

nav {
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 auto 0px;
	text-align: center;
	background: #1D242E;
	color: #FFFFFF;
	font-family: Oswald, Helvetica, Arial, free-sans, clean, sans-serif;
	font-weight: 700;
	font-size: 10pt;
	min-width: 600px;
}

nav ul {
	margin: 0px;
	padding: 0px;
}

nav li {
	display: inline;
	padding: 10px;
	margin: 0px;
}

nav li:hover {
	background: #2c3e50;
}

#titleBar {
	min-width: 600px;
	text-align: center;
	padding: 20px;
	background: #171D25;
	font-family: Oswald, Helvetica, Arial, free-sans, clean, sans-serif;
	font-weight: 700;
	font-size: 25pt;

}

a:link, a:visited {
	color: #ecf0f1;
}

a:hover, a:active {
	color: #FFFFFF;
}

a {
	text-decoration: none;
}

#message {
	min-height: 100px;
	min-width: 300px;
}

.section {

}

.subhead {
	font-family: Helvetica, Arial, free-sans, clean, sans-serif;
	padding-top: 20px;
	font-weight: 700;
}

.wrapper {
	padding: 20px;
	margin-left: 20%;
	margin-right: 20%;
	min-width: 300px;
}

p {
	font-family: Helvetica, Arial, free-sans, clean, sans-serif;
	font-size: 10pt;
	font-weight: 400;
}

footer > p {
	color: white;
	font-family: Oswald, Arial, free-sans, clean, sans-serif;
	font-size: 10pt;
	padding: 0;
	margin: 0;
	line-height: 30px;
	text-align: right;
	padding-right: 10px;
}

h1 {
	font-family: Oswald, Helvetica, Arial, free-sans, clean, sans-serif;
	font-weight: 700;
	font-size: 18pt;
	margin: 0;
	padding: 0;
}


/* Column Layout inspired by Github, https://github.com/contact */
.right_column {
	padding-left: 2%;
	width: 32%;
	float: left;
	min-width: 100px;
}

.left_column {
	float: left;
	width: 66%;
	min-width: 300px;
}

.columns {
	position: relative;
	min-height: 400px;
	min-width: 500px;
	overflow: hidden;
}

h4 {
	font-family: Helvetica, Arial, free-sans, clean, sans-serif;
	font-weight: 700;
	font-size: 14pt;
	margin: 0;
	padding: 0;
	padding-top: 5px;
}

hr {
	opacity: 0.2;
}

@-webkit-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
	}
}

@keyframes zoomIn {
	0% {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

.zoomIn {
  animation-name: zoomIn;
  animation-duration: 1s;
  -webkit-animation-name: zoomIn;
  -webkit-animation-duration: 1s;
}

br {
	padding: 0;
	margin: 0;
}

footer {
	background: #171D25;
	height: 30px;
	bottom: 0;
	left: 0;
	width: 100%;
	position: absolute;
}

main {
	padding-bottom: 30px;
}
